{% extends 'base.html.twig' %}

{% block title %}Сброс пароля{% endblock %}

{% block body %}
   <div class="container mx-auto w-50">
        <h1>Сброс пароля</h1>
    
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Reset password</button>
        {{ form_end(resetForm) }}
   </div>
{% endblock %}
